
.flex-right {
    display: flex;
    justify-content: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-space-around{
    justify-content: space-around
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-responsive {
    flex-direction: row;
}

.flex-row {
    flex-direction: row;
}

@media (max-width: 800px) {
    .flex-responsive {
        flex-direction: column;
    }
}

.margin-padding {
    margin: 10px;
    padding: 10px;
}

.flex {
    display: flex;
}

.flex-line {
    display: flex;
    align-items: stretch;
}

.flex-grow {
    flex-grow: 1;
    flex-basis: 0;
}

.flex-grow-2 {
    flex-grow: 2;
}

/* Center checkboxes */
.v-input__slot {
    justify-content: center;
}

.text-center {
    text-align: center !important;
}

.h100p { height: 100% !important;}
.h66p { height: 66% !important;}
.h50p { height: 50% !important;}
.h33p { height: 33% !important;}
.h25p { height: 25% !important;}

.h25 { height: 25px !important;}
.h32 { height: 32px !important;}
.h38 { height: 38px !important;}
.h42 { height: 42px !important;}
.h50 { height: 50px !important;}
.h100 {height: 100px !important;}
.h200 {height: 200px !important;}
.h300 {height: 300px !important;}
.h500 {height: 500px !important;}

.w100p { width: 100% !important;}
.w66p { width: 66% !important;}
.w50p { width: 50% !important;}
.w33p { width: 33% !important;}
.w25p { width: 25% !important;}

.s100p {width: 100% !important; height: 100% !important;}

.w25 { width: 25px !important;}
.w32 { width: 32px !important;}
.w40 { width: 40px !important;}
.w45 { width: 45px !important;}
.w50 { width: 50px !important;}
.w100 { width: 100px !important;}
.w150 { width: 150px !important;}
.w200 { width: 200px !important;}
.w250 { width: 250px !important;}
.w300 { width: 300px !important;}
.w500 { width: 500px !important;}

.s25 { width: 25px !important; height: 25px !important;}
.s32 { width: 32px !important;height: 32px !important;}
.s50 { width: 50px !important;height: 50px !important;}
.s100 {width: 100px !important;height: 100px !important;}
.s200 {width: 200px !important;height: 200px !important;}
.s300 {width: 300px !important;height: 300px !important;}
.s500 {width: 500px !important;height: 500px !important;}

@media screen and (max-width:1400px) {
    .w66p { width: 50% !important;}
    .w25p { width: 33% !important;}
}
@media screen and (max-width:1000px) {
    #app { padding-top: 30px;}
}

@media screen and (max-width:850px) {
    .w66p { width: 50% !important;}
    .w50p { width: 50% !important;}
    .w33p { width: 50% !important;}
    .w25p { width: 50% !important;}
}

@media screen and (max-width:600px) {
    .w66p { width: 100% !important;}
    .w50p { width: 100% !important;}
    .w33p { width: 100% !important;}
    .w25p { width: 100% !important;}
}

.marginbottomcancel {
    margin-bottom: 0px !important;
}

.marginpaddingtopcancel {
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.marginpaddingbottomcancel {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.m10px {
    margin: 10px !important;
}
.m5px {
    margin: 5px !important;
}
.ml5px {
    margin-left: 5px !important;
}
.mt0px {
    margin-top: 0px !important;
}
.mx5px {
    margin-right: 5px !important;
    margin-left: 5px !important;
}
.my5px {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.p5px {
    padding: 5px !important;
}
.px5px {
    padding-right: 5px !important;
    padding-left: 5px !important;
}
.py5px {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.mp5px {
    margin: 5px !important;
    padding: 5px !important;
}
.mp0px {
    margin: 0px !important;
    padding: 0px !important;
}

.textCenter {
    text-align: center;
}

.cursorHand {
    cursor: pointer;
}
.cursorPointer {
    cursor: pointer;
}

.smallButton {
    width: 30px !important;
    height: 30px !important;
    margin: 2px;
}
.verySmallButton {
    width: 20px !important;
    height: 20px !important;
    margin: 2px;
}
.smallIcon {
    font-size:16px !important;
}
.verySmallIcon {
    font-size: 12px !important;
}
.alignCenter {
    align-self: center
}

.textBottom0 {
    height:12px;
}

.darkBg {
    background-color: rgba(0,0,0,.05)
}

.bgWhite {
    background-color: white !important;
    color:black;
}

.bg {
    background-color: #212A3C !important;
    color:white !important
}

.bg2 {
    background: #374C5F !important;
    color:white !important
}

.bgRed {
    background: red !important;
}

h1 {
    background-color: #212A3C;
    color:white;
    font-size: 40px;
    font-weight: bold;
    padding: 20px 50px 0px 40px;
}
h2 {
    background-color: #212A3C;
    color:white;
    font-size: 30px;
    padding: 40px 40px 40px 80px;
}
.h3 {
    background-color: #212A3C;
    color: #FFFFFF90 !important; 
    font-size:22px; 
    margin-top:-40px;
    padding-left:130px;
    padding-bottom: 20px;
}

.sCard{
    width: 50px !important;
    height: 72px !important;
}

.hoverFontColor:hover {
    color: yellow;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  /* Tooltip card */
  .tooltip .tooltipcard {
    visibility: hidden;
    width: 100%;
    height:100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltipcard {
    visibility: visible;
  }
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .colorWhite{
    color:white !important;
  }

  .absolute{position:absolute}
  .relative{position:relative}

  
.slideToLeft-enter-active {transition: .3s;}
.slideToLeft-enter-to{transform: translateX(100px);opacity: 0;}
.slideToLeft-enter{transform: translateX(0px);opacity: 1;}

.slideToRight-enter-active {transition: .3s;}
.slideToRight-enter-to{transform: translateX(-100px);opacity: 0;}
.slideToRight-enter{transform: translateX(0px);opacity: 1;}

.slideToUp-enter-active {transition: .3s;}
.slideToUp-enter-to{transform: translateY(-100px);opacity: 0;}
.slideToUp-enter{transform: translateY(0px);opacity: 1;}

.slideToDown-enter-active {transition: .3s;}
.slideToDown-enter-to{transform: translateY(100px);opacity: 0;}
.slideToDown-enter{transform: translateY(0px);opacity: 1;}